<h2>Formularz kontaktowy</h2>
<%= form_for @changeset, Routes.email_path(@conn, :create), [id: "message-form"], fn f -> %>
  <label>
    Email: <%= email_input f, :email, id: "user-email", placeholder: "Email", required: "" %> 
  </label>

  <label>
    Wiadomość: <%= textarea f, :content, id: "user-message", placeholder: "Wiadomość", required: "" %>
  </label>

  <%= submit "Wyślij" %>
<% end %>