<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contactform · Phoenix Framework</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="http://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/logo-reconizer.png") %>" alt="Phoenix Framework Logo"/>
        </a>
        <nav role="navigation">
          <ul class="menu-wrapper">
            <li class="active"><%= link("Strona główna", to: "/") %></li>
            <li><%= link("Email sender", to: "/email") %></li>
            <%= if signed_in?(@conn) do %>
              <li class="msg-notification"><%= link("Lista wiadomości", to: "/listmessages") %><div id="test"></div></li>
              <li><%= link "Wyloguj się", to: Routes.session_path(@conn, :delete), method: :delete %></li>
            <% else %>
              <li><%= link "Zaloguj się", to: Routes.session_path(@conn, :new) %></li>
              <li><%= link "Zarejestruj się", to: Routes.user_path(@conn, :new) %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script>window.userId = "<%= assigns[:user_token] %>";</script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
